/* Write your CSS here. */
/* *{
    display: inline-block;
} */
.wgs{
    height: 241px;
    position: relative;
    width: 320px;
    display: flex;
    overflow: hidden;
}

.wgs__mole-head{
    height: 178px;
    position: absolute;
    width: 188px;
    left: 55px;
    transition: margin-top 0.25s;
}

.wgs__dirt-pile{
    height: 110px;
    position: absolute;
    width: 320px;
    bottom: 0;
}

.wgs__mole-head--hidden{
    height: 178px;
    position: absolute;
    width: 188px;
    left: 55px;
    margin-top: 241px;
    /* overflow: hidden; */
}

.pf {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 10px;

    /* grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: auto; */
    /* grid-template-areas: 
        ""
        ""
        ""; */
}
.header {
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 28px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header__hit-count{
    
}

