/* Write your CSS here. */
/* *{
    display: inline-block;
} */
.wgs{
    height: 241px;
    position: relative;
    width: 320px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid black;
}

.wgs__mole-head{
    height: 178px;
    position: absolute;
    width: 188px;
    left: 55px;
    transition: margin-top 0.25s;
}

.wgs__dirt-pile{
    height: 110px;
    position: absolute;
    width: 320px;
    bottom: 0;
}

.wgs__mole-head--hidden{
    height: 178px;
    position: absolute;
    width: 188px;
    left: 55px;
    margin-top: 241px;
    /* overflow: hidden; */
}

.pf {
    display: flex;
    flex-flow: row wrap;

    /* grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: auto; */
    /* grid-template-areas: 
        ""
        ""
        ""; */
}

